@import url('https://fonts.googleapis.com/css?family=Ubuntu');

@import 
    'scss/abstracts/_mixins.scss',
    'scss/abstracts/_variables.scss',
    'scss/abstracts/_placeholders.scss';

@import
    'scss/base/_base.scss',
    'scss/base/_typography.scss';

@import
    'scss/components/_field.scss',
    'scss/components/_sidenav.scss';

@import
    'scss/pages/_game.scss';            

@import
    'scss/vendors/font-awesome-4.7.0/css/font-awesome.css';   


.field {
    width: 50*10px;
    display: flex;
    flex-wrap: wrap;

    .cell-container {

        display: flex;
        flex-direction: column;

        .cell {
            height: 50px;
            width: 50px;
            box-sizing: border-box;
            border: 1px solid white;

            &.selected {
                background-color: blue;
            }
            &.miss {
                background-color: grey;
            }
            &.hit {
                background-color: red;
            }
            &.next {
                border: 4px solid yellow;
            }
        }
    }
}